<!DOCTYPE html>
{% extends 'index.html' %}

{% load static %}
{% block title %} Contact {% endblock %}


<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>
          -- Contact --
        </title>
        <link href="{% static 'css/register.css' %}" rel="stylesheet" type="text/css">
  
    </head>

    {% block content %}
        <body>
         <!-- {% include 'sidebar.html'%} -->  

        </body>
    {% endblock %}
         
</html>