<!DOCTYPE html>
{% extends 'index.html' %}

{% load static %}



<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>
            {% block title %} Ticket Activity {% endblock %}
        </title>
        
  
    </head>
</html>

{% block content %}

  <!-- Datatable plugin CSS file -->
  <link rel="stylesheet" href=
  "https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />

    <!-- jQuery library file -->
    <script type="text/javascript" 
    src="https://code.jquery.com/jquery-3.5.1.js">
  </script>
        

  <!-- Datatable plugin JS library file -->
  <script type="text/javascript" src=
      "https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
  </script>

<script>
    /* Initialization of datatable */
    $(document).ready(function() {
        $('#myTable').DataTable({ });
    });
  </script> 

    <link href="{% static 'css/department.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/errormessage.css' %}" rel="stylesheet" type="text/css">

    <div class="container">
        <div style="text-align:center">
          <h2>Activity
          </h2>
          {% if messagecontent == "Alert" %}
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <p><strong>Alert : </strong> {{ error_message }} </p>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="column">
                <form class="form-detail" action="{% url 'updateactivity' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="ticketID" name="ticketID" value="{{ ticketid }}">
                    <input type="hidden" id="assignID" name="assignID" value="{{ assignID }}">
                    <input type="hidden" id="createdBy" name="createdBy" value="{{ createdBy }}">
                    
                    <label for="form3Example1n">Status</label>
                    <select name="statusID" >
                    {% for stat in statusdetails %}
                        <option value="{{ stat.statusID }}" aria-required="true"> {{ stat.statusName }}</option>
                    {% endfor %}
                    </select>

                    <label for="description">Remarks</label>
                    <textarea id="remarks" name="remarks" placeholder="Remarks" style="height:170px"
                    required>
                    </textarea>

                    <input type="submit" value="Remarks" class="register" name="Update" id="Update">
                    <input type="submit" value="Close" class="register" name="Update" id="Close">

                </form>
            </div>
            <div class="column">
                <!-- <img src="/w3images/map.jpg" style="width:100%"> --> 
                <table id="myTable" class="table table-bordered table-sm" cellspacing="0">
                    <thead>
                        <tr >
                        <th class="th-sm">Name</th>
                            <th class="th-sm">Remarks</th>
                            <th class="th-sm">Date</th>
                        </tr>
                    </thead>
                    {% for remark in remarkdetails %}
                        <tbody>
                            <tr>
                                <td>{{ remark.name }}</td>
                                <td style="width:200x ; "> {{ remark.remark }}
                                </td>
                                <td style="width:200x ; "> {{ remark.Date }}
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>


        </div>
    </div>


{% endblock %}