.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 0px;
    }

.center {
        border: 1px solid #FFFF00;
        text-align: center; 
    }

    .card {
        border: 1px solid #dadada;
        box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.2s;
        width: 50%;
      }